/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 576px) {
  .bg-container {
    height: 100vh;
    width: 100vh;
  }
}

.heading {
  color: white;
  margin-top: 100px;
}
.button1 {
  background-color: blue;
  border-radius: 8px;
  border-width: 0px;
  color: white;
}
.button2 {
  background-color: transparent;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
  color: white;
  margin-left: 20px;
}
.second-box {
  margin-bottom: 100px;
}
.imge-size{
  width:500px;
  height: 240px;
}